/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #938F8D;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

/**************************************************/
/*************** animation specific ***************/
/**************************************************/
/* Put here animation specific styles */
.bubble-animation {
  height: 300px;
  position: relative; }

.bubble {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff824c;
  position: absolute;
  bottom: 0;
  -webkit-animation: bubble-move-3 3s linear infinite;
          animation: bubble-move-3 3s linear infinite; }

