/**************************************************/
/******************* variables ********************/
/**************************************************/
/**************************************************/
/***************** general styles *****************/
/**************************************************/
body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #938F8D;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px; }

.logo {
  width: 63px; }

.animation-container {
  margin: 70px auto 100px; }

/**************************************************/
/*************** animation specific ***************/
/**************************************************/
/* Put here animation specific styles */
.bubble-animation {
  height: 300px;
  position: relative; }

.bubble {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255, 130, 76, 0.8);
  position: absolute;
  bottom: 0; }

@-webkit-keyframes 'bubble-burst-1' {
  0% {
    -webkit-transform: translate(-2px, -0px);
            transform: translate(-2px, -0px); }
  25% {
    -webkit-transform: translate(2px, -25px);
            transform: translate(2px, -25px); }
  50% {
    -webkit-transform: translate(-2px, -50px);
            transform: translate(-2px, -50px); }
  75% {
    -webkit-transform: translate(2px, -75px);
            transform: translate(2px, -75px); }
  94% {
    -webkit-transform: translate(-2px, -94px);
            transform: translate(-2px, -94px);
    opacity: 1; }
  100% {
    -webkit-transform: translate(2px, -100px) scale(2.5);
            transform: translate(2px, -100px) scale(2.5);
    opacity: 0; } }

@keyframes 'bubble-burst-1' {
  0% {
    -webkit-transform: translate(-2px, -0px);
            transform: translate(-2px, -0px); }

  25% {
    -webkit-transform: translate(2px, -25px);
            transform: translate(2px, -25px); }

  50% {
    -webkit-transform: translate(-2px, -50px);
            transform: translate(-2px, -50px); }

  75% {
    -webkit-transform: translate(2px, -75px);
            transform: translate(2px, -75px); }

  94% {
    -webkit-transform: translate(-2px, -94px);
            transform: translate(-2px, -94px);
    opacity: 1; }

  100% {
    -webkit-transform: translate(2px, -100px) scale(2.5);
            transform: translate(2px, -100px) scale(2.5);
    opacity: 0; } }

@-webkit-keyframes 'bubble-burst-2' {
  0% {
    -webkit-transform: translate(3px, -0px);
            transform: translate(3px, -0px); }
  25% {
    -webkit-transform: translate(-3px, -45px);
            transform: translate(-3px, -45px); }
  50% {
    -webkit-transform: translate(3px, -90px);
            transform: translate(3px, -90px); }
  75% {
    -webkit-transform: translate(-3px, -135px);
            transform: translate(-3px, -135px); }
  94% {
    -webkit-transform: translate(3px, -169.2px);
            transform: translate(3px, -169.2px);
    opacity: 1; }
  100% {
    -webkit-transform: translate(-3px, -180px) scale(2.5);
            transform: translate(-3px, -180px) scale(2.5);
    opacity: 0; } }

@keyframes 'bubble-burst-2' {
  0% {
    -webkit-transform: translate(3px, -0px);
            transform: translate(3px, -0px); }

  25% {
    -webkit-transform: translate(-3px, -45px);
            transform: translate(-3px, -45px); }

  50% {
    -webkit-transform: translate(3px, -90px);
            transform: translate(3px, -90px); }

  75% {
    -webkit-transform: translate(-3px, -135px);
            transform: translate(-3px, -135px); }

  94% {
    -webkit-transform: translate(3px, -169.2px);
            transform: translate(3px, -169.2px);
    opacity: 1; }

  100% {
    -webkit-transform: translate(-3px, -180px) scale(2.5);
            transform: translate(-3px, -180px) scale(2.5);
    opacity: 0; } }

@-webkit-keyframes 'bubble-burst-3' {
  0% {
    -webkit-transform: translate(-4px, -0px);
            transform: translate(-4px, -0px); }
  25% {
    -webkit-transform: translate(4px, -62.5px);
            transform: translate(4px, -62.5px); }
  50% {
    -webkit-transform: translate(-4px, -125px);
            transform: translate(-4px, -125px); }
  75% {
    -webkit-transform: translate(4px, -187.5px);
            transform: translate(4px, -187.5px); }
  94% {
    -webkit-transform: translate(-4px, -235px);
            transform: translate(-4px, -235px);
    opacity: 1; }
  100% {
    -webkit-transform: translate(4px, -250px) scale(2.5);
            transform: translate(4px, -250px) scale(2.5);
    opacity: 0; } }

@keyframes 'bubble-burst-3' {
  0% {
    -webkit-transform: translate(-4px, -0px);
            transform: translate(-4px, -0px); }

  25% {
    -webkit-transform: translate(4px, -62.5px);
            transform: translate(4px, -62.5px); }

  50% {
    -webkit-transform: translate(-4px, -125px);
            transform: translate(-4px, -125px); }

  75% {
    -webkit-transform: translate(4px, -187.5px);
            transform: translate(4px, -187.5px); }

  94% {
    -webkit-transform: translate(-4px, -235px);
            transform: translate(-4px, -235px);
    opacity: 1; }

  100% {
    -webkit-transform: translate(4px, -250px) scale(2.5);
            transform: translate(4px, -250px) scale(2.5);
    opacity: 0; } }

.bubble-burst-1 {
  -webkit-animation: bubble-burst-1 1.7s linear infinite;
          animation: bubble-burst-1 1.7s linear infinite; }

.bubble-burst-2 {
  -webkit-animation: bubble-burst-2 2.7s linear infinite;
          animation: bubble-burst-2 2.7s linear infinite; }

.bubble-burst-3 {
  -webkit-animation: bubble-burst-3 3.7s linear infinite;
          animation: bubble-burst-3 3.7s linear infinite; }
